@font-face {
    font-family: darkFont;
    src: url(augusta-shadow.ttf);
}
body {
    margin: 0;
}
#container{
    width: 850px;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: -400px 0;
    height: 735px;
    position: relative;
    border-radius: 0 0 10px 0;
}
#header{
    height: 150px;
    padding: 30px 10px 10px 10px;
    background-color: black;
    box-sizing: border-box;
    position: relative;
}
h1{
    font-family: darkFont;
    color: #830004;
    text-align: center;
}
ul {
    font-family: darkFont;
    color: blanchedalmond;
    font-size: 30px;
}
a {
    text-decoration: none;
    color: blanchedalmond;
}
#chester {
    height: 100px;
    margin-top: 20px;
    position: absolute;
    left: 10px;
    top: 5px

}
#profile {
    position: absolute;
    right: 40px;
    bottom: 40px;
    height: 150px;
    border-radius: 100px;
}