body{
    margin:0;
}
#header{
    width: 2000px;
    height: 200px;
    background-color: #0a2b1d;
}
#side-nav{
    margin-top: 0;
    margin-right: 40px;
    float: left;
    width: 200px;
    background-color: #1dc116;
    height: 870px;
}
.row{
    height: 290px;
    width: 2000px;
    background-color: #0f192a;
}
.container{
    display: inline-block;
    height: 220px;
    width: 150px;
    background-color: #4a1e7f;
    margin: 40px 0 0 40px;
}
.show{

}}