body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: darkFont;
    background-color: #0b0603;
}
@font-face {
    font-family: darkFont;
    src: url(Moonlight_Shadow.ttf);
}
@keyframes staminaLoss {

    0%{
        width: 100%;
    }
    100%{
        width: 0;
    }

}
#header{
    width: 100vw;
    height: 20vh;
    background-color: #000000;
    position: relative;
    margin: auto;
}
a{
    font-size: 3vmin;
    text-decoration: none;
    left: 35px;
    color: blanchedalmond;
}
a:first-child{
    position: absolute;
    top: 15%;
    left: 6%;
}
a:nth-child(2){
    position: absolute;
    top: 60%;
}
#stats{
    margin-top: 0;
    margin-right: 20px;
    float: left;
    width: 15vw;
    height: 80vh;
    background-color: rgba(240,255,250,0.41);
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    font-size: 2vmin;
}
.row_health{
    padding-top: 15px;
    padding-left: 10px;
    height: 10%;
    width: 100%;
    box-sizing: border-box;

}
#row_container{
    background-image: url('images/background.jpg');
    background-size: cover;
    width: 100vw;
    height: 80vh;
    border-radius: 0 0 10px 0;
    margin: auto;
}
#health_container{
    height: 33%;
    width: 40%;
    margin: 0 0 10px 20%;
    border: 2px solid #fff2fe;
}
#health{
    height: 100%;
    width: 100%;
    background-color: red;
}
#stamina_container{
    margin: 10px 0 10px 20%;
    height: 33%;
    width: 25%;
    border: 2px solid #fff2fe;
}
#stamina{
    height: 100%;
    background-color: #1dc116;
}
.staminaAnimation{
    animation-name: staminaLoss;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 10s;
}
.row{
    height: 30%;
    width: 100%;
}
.container {
    display: inline-block;
    height: 60%;
    width: 8%;
    margin: 3% 0 3% 3%;
    border-radius: 10px;

}
.value {
    height: 40px;
}
h2.label {
    margin: 0;
    font-size: 3vmin;
}
img#reset {
    margin-top: 40%;
    width: 90%;
    height: 25%;
    border-radius: 100px;
}
.front{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: 100% 100%;
    border-radius: 10px;
    background-image: url("images/card_back.jpg");
    position: absolute;
    border: 1px solid silver;
}
.back {
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    background-size: 100% 100%;
    border-radius: 10px;
    position: absolute;
}
#banner {
    position: relative;
    /* height: 70%; */
    width: 60%;
    /* margin-left: 200px; */
    /* margin-top: 25px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container{
    -webkit-perspective: 1000px;
    position: relative;
}
.container .flip.flipped{
    -webkit-transform: rotateY(-180deg);
}
.container .flip{
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.container .flip .face{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index:2;
}
.container .flip .front{
    position: absolute;
    z-index: 1;
}
.container .flip .back{
    -webkit-transform: rotateY(-180deg);
}
@media only screen and (min-width: 1200px) {
    #row_container {
        width: 1200px;
    }
    .row {
        width: 1200px;
    }
    .row_health{
        width: 1200px;
    }
    #stats{
        width: 180px;
    }
    #header {
        width: 1200px;
    }
}

